<html>
    <head>
        <!-- Import Styling -->
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <!-- Header -->
        <h1>G00385338</h1>
        <!-- Home Directory -->
        <section>
            <!-- Module Directory -->
            <input type="button" value="Modules" onclick="location.href = './listModules'">
            <!-- Students Directory -->
            <input type="button" value="Students" onclick="location.href = './listStudents'">
            <!-- Lecturers Directory -->
            <input type="button" value="Lecturers" onclick="location.href = './listLecturers'">
            <!-- Departments Directory -->
            <input type="button" value="Departments" onclick="location.href = './listDepartments'">
        </section>
    </body>
</html>
