<html>
    <head>
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <h1>G00385338</h1>
        <section>
            <input type="button" value="Modules" onclick="location.href = './listModules'">
            <input type="button" value="Students" onclick="location.href = './listStudents'">
            <input type="button" value="Lecturers" onclick="location.href = './listLecturers'">
        </section>
    </body>
</html>
