<head>
    <!-- Import Styling -->
    <link rel="stylesheet" href="/styles/tables.css">
</head>
<script>
    // submit function
    function submitform(formname){
        document[formname].submit()
    }
</script>
<body>
    <!-- Header -->
    <h1>Students</h1>
    <section>
        <!-- Table -->
        <table>
            <!-- Table Row -->
            <tr>
                <!-- Table Headers -->
                <th onclick="submitform('get1')"><!-- Calls function in script in header file -->
                    <b>Student ID</b>
                    <!-- New Form To Request Sort -->
                    <form action="/listStudents" name="get1" method="post">
                        <!-- Hidden Input Button -->
                        <input type="hidden" name="orderby" value="sid ASC"/>
                    </form>
                </th>
                <th onclick="submitform('get2')"><!-- Calls function in script in header file -->
                    <b>Name</b>
                    <!-- New Form To Request Sort -->
                    <form action="/listStudents" name="get2" method="post">
                        <!-- Hidden Input Button -->
                        <input type="hidden" name="orderby" value="name ASC"/>
                    </form>
                </th>
                <th onclick="submitform('get3')"><!-- Calls function in script in header file -->
                    <b>GPA</b>
                    <!-- New Form To Request Sort -->
                    <form action="/listStudents" name="get3" method="post">
                        <!-- Hidden Input Button -->
                        <input type="hidden" name="orderby" value="gpa DESC"/>
                    </form>
                </th>
                <th><b>Action</b></th>
            </tr>
            <!-- Display each Student -->
            <% students.forEach((student)=>{ %>
                <tr>
                    <td><%= student.sid %></td>
                    <td><%= student.name %></td>
                    <td><%= student.gpa %></td>
                    <td><a href="/students/delete/<%= student.sid %>">Delete</td>
                </tr>
            <% }) %>
        </table>
        <!-- Button Form -->
        <form action="/addStudent" method="GET">
            <!-- Submit Button -->
            <input type="submit" value="Add" class="button"/>
            <!-- Home Button, Redirects to Home Page -->
            <input type="button" value="Home" onclick="location.href='http://localhost:3000/'" class="button">
        </form>
    </section>
</body>