<html>
<head>
    <link href="/styles/tables.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Lecturers</h1>
    <section>
        <table>
            <tr>
            <td><b>Lecturer ID</b></td>
            <td><b>Name</b></td>
            <td><b>Dept</b></td>
            <!-- Display each Lecturer -->
            <% lecturers.forEach((lecturer)=>{ %>
                <tr>
                    <td><%= lecturer._id %></td>
                    <td><%= lecturer.name %></td>
                    <td><%= lecturer.dept %></td>
                </tr>
            <% }) %>
            </tr>
        </table>
        <form action="/addLecturer" method="GET">
            <input type="submit" value="Add" class="button"/>
            <input type="button" value="Home" onclick="location.href='http://localhost:3000/'" class="button">
        </form>
    </section>
</body>
</html>