html{
    background: deepskyblue;
    box-sizing: border-box;
}
body{ 
    color: deepskyblue;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate( -50%, -50%);
}
h1{
    background: aliceblue;
    border-radius: 0.5em;
    padding: 0.5em;
    color:deepskyblue;
    text-align: center;
    text-shadow: 1px 1px teal;
}
section{
    background-color: aliceblue;
    color:deepskyblue;
    border-radius: 1em;
    padding: 20px;
}
label{
    width: 12em;
    padding: 12px 12px 12px 0;
}
input{
    border: 4px inset deepskyblue;
    background:deepskyblue;
    border-radius: 4px;
    color:aliceblue;
    resize: vertical;
    padding: 1em;
    width: 100%;
}
.buttons{
    margin-top: 12px;
    text-shadow: 1px 1px teal;
    border: 4px outset deepskyblue;
}
.col-1{
    position: relative;
    margin-top: 6px;
    float: left;
    width:33%;
}
.col-2:nth-child(n+2){
    margin-top: 6px;
    float: left;
    width:67%;
}
.row:after{
    display: table;
    clear: both;
}
li{
    color:crimson;
}
