table {
    display: table;
    border-collapse: collapse; 
    padding: 1px;
}
tr {
    display: table-row; 
    border: 1px solid black; 
    padding: 1px;
}
th { 
    display: table-cell; 
    padding: 1px;
}
td { 
    display: table-cell; 
    padding: 1px;
}